



<div class="heading1" >
  <div class="subhead1">
    <div class="calender">
      <form class="form-inline">
        <div class="form-group">
          <div ngbDropdown class="d-inline-block">
          <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle (click)="getDataFromAPI()"> <label class="datecss">Select Next session date</label></button>
            <div class="subbutton" ngbDropdownMenu aria-labelledby="dropdownBasic1" style="width: 320px;height: 300px;overflow: scroll;">
              <ul *ngFor="let d of data">
                <button ngbDropdownItem #box (click)="getDate(d['Next Session Date'])"> {{d["Next Session Date"]}}</button>
              </ul>
            </div>
        </div>
        </div>
      </form>
    </div>
    
  </div>
  <div class="subhead2">
    <div class="row">
      <div class="col">
        <div ngbDropdown class="d-inline-block">
          <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle (click)="getDataFromAPI()"><label class="datecss">Select Child Subject</label></button>
            <div class="subbutton" ngbDropdownMenu aria-labelledby="dropdownBasic1" style="width: 320px;height: 300px;overflow: scroll;">
              <ul *ngFor="let d of child_final_removeduplicates3">
                <button ngbDropdownItem #box (click)="getCourse(d)"> {{d}}</button>
              </ul>
            </div>
        </div>
      </div>
    </div> 
  </div>
  <div class="subhead3">
    <div ngbDropdown class="d-inline-block">
      <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle (click)="getproviderFromAPI()"><label class="datecss">Select Provider</label></button>
        <div class="subbutton" ngbDropdownMenu aria-labelledby="dropdownBasic1" style="width: 320px;height: 300px;overflow: scroll;">
          <ul *ngFor="let d of provider_final_removeduplicate3">
            <button ngbDropdownItem #box (click)="getprovider(d)"> {{d}}</button>
          </ul>
        </div>
    </div>
        
  </div>
</div>
<div class="totalcount">
  <h2>Total Number of courses available</h2>
  <p>{{total_coursecount}}</p>
</div>
<div class="heading2">
  <div class="result">
    <div class="rectanglebox">
     <label class="courseid">Course Id - </label>{{courseId}}<br>
     <label class="courseid">Course Name - </label>{{Course_Name}}<br>
     <label class="courseid">Course Provider - </label>{{Provider}}<br>
     <label class="courseid">Course Url - </label>{{CourseUrl}}<br>
     <label class="courseid">Child Subject - </label>{{Course_child}}
    </div>
    <div class="rectanglebox"> 
      <h1>Total Courses found based on user</h1> 
      <p>{{course_count}}</p>
      <label class="courseid">Subject :</label>{{usermessage}}
    </div>
    <div class="rectanglebox"> 
      <h1>Total Courses found based on user</h1> 
      <p>{{ProviderCount}}</p>
      <label class="courseid">ProviderName :</label>{{providerName}}
    </div>
 
</div>

  

   
